<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card id="form">
    <div id="image">
      <img src="assets/icon/loginIcon.png" />
    </div>

    <ion-item lines="none" >
      <ion-label position="stacked" color="primary">Username</ion-label>
      <ion-input id="rounded" type="text" [(ngModel)]="username" required></ion-input>
      <div style="color:red" class="alert alert-warning" *ngIf='invalidLogin'>{{ errorMessage + 'username' }}</div>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked" color="primary">Password</ion-label>
      <ion-input id="rounded" type="password" [(ngModel)]="password" required></ion-input>
      <div style="color:red" class="alert alert-warning" *ngIf='invalidLogin'>{{ errorMessage + 'password' }}</div>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-item lines="none" id="option">
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label color="primary">Remember Me</ion-label>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item lines="none" id="option">
          <ion-label slot="end" color="primary" fill="clear">Forget Password?</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="loginAction()" type="submit" expand="block" >Login</ion-button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
