ion-content{
    #image{
        img{
            width: 200px;
            height: 200px;
            border:8px solid #ffffff;
        }
    }

    #form{
        height:100%;
        display: flex;
        justify-content: center; //this will cause when i click to enter it will slow abit
        align-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    #rounded{
        width: 300px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #FFA113;
        border-radius: 10px;
        box-sizing: border-box;
        --padding-start: 10px;
    }

    #option{
        font-size: smaller;
        margin:0 1px;
    }

    ion-button{
        width: 300px;
    }

}
