<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="Home" slot="start"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-label>Search</ion-label>
        </ion-item>
        <ion-item routerLink="schedule">
          <ion-icon name="TIME" slot="start"></ion-icon>
          <ion-label>Schedule</ion-label>
        </ion-item>
        <ion-item routerLink="saved">
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>Saved</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="Settings" slot="start"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
