// ion-content{
//     --background:linear-gradient(to bottom, #fdaa1b, #f9c237)
//   }
  
  .circle-pic{
    width:32px;
    height:32px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  
  .main_content_div{
    width: 100%;
  
    .content_div{
      background: white;
      width: 100%;
      
      border-top-right-radius: 75px;
      border-top-left-radius: 75px;
      margin-top: 90px;
      padding-top:30px;
      
    }
  }
  
  .animated{
  
    -webkit-animation-duration: 3s;
    animation-duration :3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes bounceInUp{
  
    0%{
      opacity: 0;
      -webkit-transform: translateY(2000px);
    }
  
    60%{
      opacity: 1;
      -webkit-transform: translateY(-30px);
    }
  
    80%{
    
      -webkit-transform: translateY(10px);
    }
  
    100%{
      
      -webkit-transform: translateY(0);
    }
  }
  
    .bounceInUp{
      -webkit-animation-name:bounceInUp ; 
      animation-name:bounceInUp;
    }
  
    @keyframes bounceInUp{
      
    0%{
      opacity: 0;
      -webkit-transform: translateY(2000px);
    }
  
    60%{
      opacity: 1;
      -webkit-transform: translateY(-30px);
    }
  
    80%{
    
      -webkit-transform: translateY(10px);
    }
  
    100%{
      
      -webkit-transform: translateY(0);
    }
  
    }
  