<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{viewTitle}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="today()">Today</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-label>TIME TABLE</ion-label>

    <ion-buttons slot="end">
      <ion-label>Jeff & Inthira</ion-label>
      <ion-button>
        <img
          class="circle-pic"
          src="http://autokadabra.ru/system/uploads/users/18/18340/small.png?1318432918"
        />
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header tappable (click)="collapseCard = !collapseCard">
      <ion-card-title>New Event</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="!collapseCard">
      <ion-item>
        <ion-input
          type="text"
          placeholder="Title"
          [(ngModel)]="event.title"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="text"
          placeholder="Description"
          [(ngModel)]="event.desc"
        ></ion-input>
      </ion-item>
      <ion-list>
        <ion-accordion-group>
          <ion-accordion value="start">
            <ion-item slot="header">
              <ion-label>Start</ion-label>
              <ion-note slot="end" id="datetimeValue"
                >{{event.startTime | date: "dd/MM/yyyy H:mm" }}</ion-note
              >
            </ion-item>
            <ion-datetime
              slot="content"
              displayFormat="MM/DD/YYYY HH:mm"
              pickerFormat="MMM D:HH:mm"
              [(ngModel)]="event.startTime"
              [min]="minDate"
            ></ion-datetime>
          </ion-accordion>
        </ion-accordion-group>
      </ion-list>
      <ion-list>
        <ion-accordion-group>
          <ion-accordion value="start">
            <ion-item slot="header">
              <ion-label>End</ion-label>
              <ion-note slot="end" id="datetimeValue"
                >{{event.endTime | date: "dd/MM/yyyy H:mm" }}</ion-note
              >
            </ion-item>
            <ion-datetime
              slot="content"
              displayFormat="MM/DD/YYYY HH:mm"
              pickerFormat="MMM D:HH:mm"
              [(ngModel)]="event.endTime"
              [min]="minDate"
            ></ion-datetime>
          </ion-accordion>
        </ion-accordion-group>
      </ion-list>
      <ion-item>
        <ion-label>All Day?</ion-label>
        <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
      </ion-item>
      <ion-button
        fill="outline"
        expand="block"
        (click)="addEvent()"
        [disabled]="event.title == ''"
        >Add Event</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-row>
    <!-- Change the displayed calendar mode -->
    <ion-col size="4">
      <ion-button
        expand="block"
        [color]="calendar.mode == 'month' ? 'primary' : 'secondary'"
        (click)="changeMode('month')"
        >Month</ion-button
      >
    </ion-col>
    <ion-col size="4">
      <ion-button
        expand="block"
        [color]="calendar.mode == 'week' ? 'primary' : 'secondary'"
        (click)="changeMode('week')"
        >Week</ion-button
      >
    </ion-col>
    <ion-col size="4">
      <ion-button
        expand="block"
        [color]="calendar.mode == 'day' ? 'primary' : 'secondary'"
        (click)="changeMode('day')"
        >Day</ion-button
      >
    </ion-col>

    <!-- Move back one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="8" text-center> </ion-col>

    <!-- Move forward one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="30"
    startingDayWeek="1"
  >
  </calendar>
</ion-content>
