<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-label>TIME TABLE</ion-label>

    <ion-buttons slot="end">
      <ion-label>Jeff & Inthira</ion-label>
      <ion-button>
        <img
          class="circle-pic"
          src="http://autokadabra.ru/system/uploads/users/18/18340/small.png?1318432918"
        />
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="content_div animated bounceInUp"></div>
  </div>
</ion-content>
